/* Fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* Global Style  */
body{
    width: 100%;
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
}
.container{
    display: flex;
    max-width: 1080px;
    margin: 0 auto;
}

/* ----------------------Blog Section Start -------------------*/
.player-info{
    background-color: white;
    width: 33.33%;
    padding: 15px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 15);
}

.player-info img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.name{
    font-size: 28px;
    font-weight: bold;
    line-height: 10px;
}
.name a{
    text-decoration: none;
    color: black;
}
.name a:hover{
    color: blueviolet;
}

.details{
    font-size: 15px;
    text-align: justify;
}

/* ----------------------Blog Section END -------------------*/

/* ---------------All Highlights Section Start ------------------*/

#highlight{
    margin: 100px 0;
}
.highlight-info{
    width: 50%;
    margin: 25px 50px 25px 0;
}
.title{
    font-size: 45px;
    font-weight: bold;
    line-height: 25px;
}

.highlight-img {
    width: 50%;
}
.highlight-img img{
    width: 100%;
    height: auto;
}
.highlight-info a{
    background-color: teal;
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px 10px 15px;
    margin-top: 15px;
    transition: all 0.5s ease;
}
.highlight-info a:hover{
    background-color: #ff0080;
}
.fa-arrow-right{
    padding: 5px 10px 5px 10px;
}
/* ---------------All Highlights Section End ------------------*/

/* ---------------Videos Part Start ------------------*/

.videos{
    margin: 100px 0;
}
.video-left{
    width: 44%;
}
.left{
    width: 460px;
    height: 400px;
    margin-top: 3px;
}
.video-right{
    width: 56%;
}
.right{
    width: 295px;
    height: 200px;
    margin-left: 5px;
}

/* ---------------Videos Part End ------------------*/
footer{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}
.footer-info img{
    width: 100%;
    height: auto;
}
.social-link{
    margin-top: 30px;
    text-align: center;
}

nav .social-link a{
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 40px;
    background-color: rgba(211, 211, 211, 0.637);
    margin: 0 5px;
    border-radius: 50%;
    color: gray;
    transition: all 0.5s ease;
}

nav .social-link a:hover{
    color: #374f6f;
}
.social-link a i{
    font-size: 20px;
    margin: 5px;
}
.copy-right{
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
}