/* Fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* Global Style  */
body{
    font-family: 'Poppins', sans-serif;
    background-color: #f3f1ff;
    margin: 0 auto;
}
.container{
    display: flex;
    max-width: 1080px;
    margin: 0 auto;
}

/* ----------------------Blog Section Start -------------------*/

#blogs{
    background-color: lightgrey;
}
.player-info{
    background-color: white;
    width: 33.33%;
    padding: 15px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 15);
}

.player-info img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.name{
    font-size: 28px;
    font-weight: bold;
    line-height: 10px;
}
.name a{
    text-decoration: none;
    color: black;
}
.name a:hover{
    color: blueviolet;
}

.details{
    font-size: 15px;
    text-align: justify;
}

/* ----------------------Blog Section END -------------------*/

/* ---------------All Highlights Section Start ------------------*/

#highlight{
    margin: 100px 0;
}
.highlight-info{
    width: 50%;
    margin: 25px 50px 25px 0;
}
.title{
    font-size: 45px;
    font-weight: bold;
    line-height: 25px;
}

.highlight-img {
    width: 50%;
}
.highlight-img img{
    width: 100%;
    height: auto;
}
.highlight-info a{
    background-color: teal;
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px 10px 15px;
    margin-top: 15px;
}
.fa-arrow-right{
    padding: 5px 10px 5px 10px;
}
/* ---------------All Highlights Section End ------------------*/

/* ---------------Videos Part Start ------------------*/

.videos{
    margin: 100px 0;
}
.video-left{
    width: 44%;
}
.left{
    width: 460px;
    height: 400px;
    margin-top: 3px;
}
.video-right{
    width: 56%;
}
.right{
    width: 295px;
    height: 200px;
    margin-left: 5px;
}

/* ---------------Videos Part End ------------------*/