/* Fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* Global Style  */
body{
    width: 100%;
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
}
.container{
    max-width: 1080px;
    margin: 0 auto;
}
.row{
    width: 50%;
    float: left;
    padding: 25px 0;
}
/* ----------------------Header Section Start -------------------*/

header{
    background-color: rgb(96, 96, 180);
    padding: 30px 50px 0 0;
    height: 550px;
}
.top-info{
    padding-top: 25px;
}
#top .title{
    color: white;
    font-size: 65px;
    font-weight: blod;
    line-height: 25px;
}
.top-info a{
    background-color: teal;
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px 10px 15px;
    margin-top: 15px;
    transition: all 0.5s ease;
}
.top-info a:hover{
    background-color: #ff0080;
}
.fa-arrow-right{
    padding: 5px 10px 5px 10px;
}
.top-img{
    padding:20px;
    transition: all 0.5s ease;
}
.top-img:hover{
    transform: scale(1.2);
}
.top-img img{
    width: 100%;
    height: auto;
    transition: all 0.5s ease;
}
.top-img img:hover{
    width: 100%;
    height: auto;
    padding-right: 25px;
}


/* ----------------------Blog Section Start -------------------*/
#blogs .blog{
    padding-top: 30px;
    width: 33.33%;
    float: left;
}
.player-info{
    background-color: white;
    padding: 15px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 15);
}

.player-info img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.name{
    font-size: 28px;
    font-weight: bold;
    line-height: 10px;
}
.name a{
    text-decoration: none;
    color: black;
}
.name a:hover{
    color: blueviolet;
}

.details{
    font-size: 15px;
    text-align: justify;
}

/* ----------------------Blog Section END -------------------*/

/* ---------------All Highlights Section Start ------------------*/

.highlight-info{
    padding: 30px 50px 0 0;
}
.title{
    font-size: 45px;
    font-weight: bold;
    line-height: 25px;
}

.highlight-img {
    width: 100%;
    height: auto;
}
.highlight-img img{
    width: 100%;
    height: auto;
}
.highlight-info a{
    background-color: teal;
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px 10px 15px;
    margin-top: 15px;
    transition: all 0.5s ease;
}
.highlight-info a:hover{
    background-color: #ff0080;
}
.fa-arrow-right{
    padding: 5px 10px 5px 10px;
}
/* ---------------All Highlights Section End ------------------*/

/* ---------------Videos Part Start ------------------*/

.left{
    width: 510px;
    height: 310px;
}
.right{
    width: 265px;
    height: 150px;
}

/* ---------------Videos Part End ------------------*/

/* ---------------Footer Part Start ------------------*/

#footer{
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
.footer-info img{
    width: 100%;
    height: auto;
    padding-top: 30px;
}
.social-link{
    margin-top: 15px;
    text-align: center;
}

nav .social-link a{
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 40px;
    background-color: rgba(211, 211, 211, 0.637);
    margin: 0 5px;
    border-radius: 50%;
    color: gray;
    transition: all 0.5s ease;
}

nav .social-link a:hover{
    color: #374f6f;
}
.social-link a i{
    font-size: 20px;
    margin: 5px;
}
.copy-right{
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
}

/* ---------------Footer Part End ------------------*/

/* ---------------Media Quaries Part Start ------------------*/

/* Tablet Device */

@media only screen and (max-width:850px) {
    .container{
        max-width: 850px;
    }
    .top-info{
        padding-left: 20px;
    }
    #top .title{
        color: white;
        font-size: 45px;
        font-weight: blod;
        line-height: 25px;
    }
    
    #blogs .blog{
        width: 50%;
    }
    #highlight .container{
        padding: 0 20px;
    }
    header{
        height: 380px;
    }
    .title{
        font-size: 35px;
        font-weight: bold;
        line-height: 20px;
    }
    #videos .row{
        width:100%;
        
    }
    .video-left{
        text-align: center;
    }
    .left{
        width: 80%;
        height: 350px;
    }
    .video-right{
        text-align: center;
    }
    .right{
        width: 40%;
    }
    #footer{
        margin-left: auto;
        margin-right: auto;
        width: 40%;
    }
}

/* Mobile Device */

@media only screen and (max-width:688px) {
    .container{
        max-width: 688px;
    }
    #top .row{
        width: 50%;
    }
    .top-info{
        padding-left: 20px;
    }
    #top .title{
        color: white;
        font-size: 35px;
        font-weight: blod;
        line-height: 25px;
    }
    .top-img img{
        width: 320px;
        height: auto;
    }
    #blogs .blog{
        width: 100%;
    }
    .row{
        width: 100%;
        padding: 25px 0;
    }
    #videos .row{
        width:100%;
        
    }
    .video-left{
        text-align: center;
    }
    .left{
        width: 90%;
        height: 350px;
    }
    .video-right{
        text-align: center;
    }
    .right{
        width: 45%;
    }
    #footer{
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
}

@media only screen and (max-width:480px){
    .container{
        max-width: 480px;
    }
    header{
        height: 300px;
    }
    .top-info{
        padding-left: 20px;
    }
    #top .title{
        color: white;
        font-size: 25px;
        font-weight: blod;
        line-height: 25px;
    }
    .top-img img{
        width: 230px;
        height: auto;
    }
    #blogs .blog{
        width: 100%;
    }
    .row{
        width: 100%;
        padding: 25px 0;
    }
    #videos .row{
        width:100%;
        
    }
    .video-left{
        text-align: center;
    }
    .left{
        width: 90%;
        height: 350px;
    }
    .video-right{
        text-align: center;
    }
    .right{
        width: 45%;
    }
    #footer{
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    nav .social-link a{
        width: 30px;
        height: 30px;
        line-height: 30px;
    }
    .social-link a i{
        font-size: 15px;
    }
}
